<div class="row" *ngFor=" let session of visisableSassions">
  <div *ngIf="auth.isAuthenticated()" class="row" class="col-md-1">
    <div>
      <app-up-vote (vote)="toggleVotes(session)" [count]="session.voters.length" [voted]="userHasVoted(session)">
      </app-up-vote>
    </div>
  </div>
  <div class="col-md-10">
    <app-collapsiable-well>
      <div well-title>
        {{session?.name}}
        <i *ngIf="session.voters.length > 3" class="fa fa-fire" style="color:red"></i>
      </div>
      <div well-body>
        <h6>{{session?.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br>
        <span>Level: {{session?.level}}</span>
        <p>{{session?.abstract}}</p>
      </div>
    </app-collapsiable-well>
  </div>
</div>
