<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div>
    <a class="navbar-brand mx-4">Events website</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/events']" routerLinkActive="router-link-active">All Events <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/newEvent']" routerLinkActive="router-link-active" tabindex="-1"
          aria-disabled="true">Creat Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Events</a>
      </li>
    </ul>
    <form id="searchForm" class="d-flex" (ngSubmit)="search(searchTerm)">
      <div class="form-group ms-5 ">
        <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="searchTerm" name="searchTerm"/>
      </div>
      <button class="btn btn-success"  appModalTrigger="searchResult">Search</button>

    </form>
    <div class=" navbar-header ms-5 p-2 ">
      <ul class="nav navbar-nav">
        <li>
          <a class="text-success" [routerLink]="['/user/login']" *ngIf="!auth.isAuthenticated()"> login</a>
          <a class="text-success" [routerLink]="['/user/profile']" *ngIf="auth.isAuthenticated()"> Hello
            {{auth.currentUser.firstName}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-modal elementId="searchResult" title="Matching sessions">
  <div class="list-group">
    <a class="list-gtoup-item" *ngFor="let session of foundSession" [routerLink]="['/event',session.id]" >
      {{session.name}}
    </a>
  </div>
</app-modal>
